<div class="container-fluid">
    <!-- Row # 1 - the route type selection-->
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm">
            <h6 class="top-buffer-20"> Search for Disruptions
                    <small class="text-muted">Start typing your route..</small>
            </h6>
          <mat-radio-group class="route-type-radio-group" [(ngModel)]="selectedRouteType">
              <mat-radio-button class="route-type-radio-button" *ngFor="let routeType of routeTypes" [value]=routeType.routeTypeCode>
                {{routeType.routeTypeDescription}}{{routeType.isDefault}}
              </mat-radio-button>
            </mat-radio-group>
        </div>
       <div class="col-sm-4"></div>
    </div>


    <!-- Row # 2 display the filtered rows-->
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-11">
                <div class="container-fluid">
                        <div class="row">
                                <input  type="text" [formControl] = "searchedRoute" id="searchRoute" style="width:360px"> 
                        </div>
                        <div class="row">
                                <select id="routesFiltered" [hidden]="!filteredRoutes" multiple="multiple" 
                                        (change)="onRouteSelection($event.target.value)"
                                        style="width:360px">
                                    <option *ngFor = "let route of filteredRoutes" value ={{route.route_id}}>
                                        {{route.route_name}}
                                    </option>
                            </select>
                        </div>
                </div>
        </div>
      <!--  <div class="col-sm-4"></div>-->
    </div>

     <!-- Row # 3 display the filtered rows-->
    <div class="row">
        <div class="col-sm-0"></div>
        <div class="col-sm-10 top-buffer-20">
            <ul class="disruptions_list" >
                <li *ngFor = "let disruption of disruptions">
                    <div class="alert alert-primary" role="alert">
                            <h6 class="alert-heading">{{disruption.title}}</h6>
                            <p>{{disruption.description}}</p>
                            <hr>
                            <p class="mb-0">{{disruption.disruption_status}}</p>
                    </div>
                </li>
            </ul> 
        </div>
       <!-- <div class="col-sm-2"></div> -->
    </div>
</div>